/*.exe
/*/*.exe
/*/Makefile
/*/.vscode
/*/*/*.o
/*/*/*.exe
/*/*.exe
/*/*/*.exe
/*/*/Makefile
/*/*/.vscode
/*/*/*/*.o
/*/*/*/*.exe
/*/*/*.exe
/*/*/*/*.exe
/*/*/*/Makefile
/*/*/*/.vscode
/*/*/*/*/*.o
/*/*/*/*/*.exe
/.vscode